@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap");

.button {
  background: #97e5d9;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: black;
  font-family: "BenchNine", sans-serif;
  text-transform: uppercase;
}

.icon {
  margin: 0 10px 0 0;
}

.text {
}
