@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.tagBadgeBox {
  border-radius: 5px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Lora", serif;
  box-sizing: border-box;
  /* mobile-first */
  width: 95%;
  margin: 2.5%;
  /* TODO: want a max width or extra margin at top of mobile range */
}

@media (min-width: 480px) {
  .tagBadgeBox {
    width: 46%;
    margin: 2%;
  }
}

@media (min-width: 800px) {
  .tagBadgeBox {
    width: 31.3%;
    margin: 1%;
  }
}

@media (min-width: 1080px) {
  .tagBadgeBox {
    width: 23%;
    margin: 1%;
  }
}

.medal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
}

.circle {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.trophy {
  margin-top: -50px;
  padding: 5px;
}

.rarity {
  font-size: 0.75rem;
}

.rarity .count {
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
}

.tagName {
  font-style: italic;
  font-size: 1.5rem;
}

.badgeTexts {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
