/* can load all weights: wght@300;400;700; */
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap");

body {
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.bubbles-container {
  position: relative;
  font-family: "BenchNine", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  font-weight: normal;
  font-size: 6vw;
  margin: 0;
  border-bottom: 6px solid #50d7cb;
}

h2 {
  font-weight: normal;
  font-size: 2.15vw;
}

a.underlined {
  border-bottom: 3px solid #50d7cb;
  transition: all 0.5s ease-in-out;
}

a.underlined:hover {
  background: #50d7cb;
}

.group {
  transition: all 0.5s ease-in-out;
}

.tag-bubble {
  position: absolute;
  background-color: #319eff;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  transform: scale(1);
}

.tag-bubble .tag-bubble {
  transform: scale(0);
}

.tag-bubble.child {
  transform: scale(0);
}

.zoomed .group:not(.selected) > .tag-bubble:not(.child) {
  transform: scale(1);
}

.zoomed .group.selected > .tag-bubble {
  transform: scale(0);
}

.zoomed .group.selected > .tag-bubble.child {
  transform: scale(1);
}

.tag-bubble .title {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
